    .table-responsive {
        overflow-x: auto;
    }

    .table td, .table th {
        white-space: nowrap;
    }

    @media (min-width: 768px) {
        .table-responsive {
            overflow-x: visible;
        }
    }

    @media (max-width: 767px) {
        .table-responsive {
            overflow-x: auto;
        }
    }